@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins';
    background-color: aliceblue;
}

#review-title, hr {
    align-items: center;
    text-align: center;
}

#review-title {
    color:  rgb(25, 25, 75);
    margin-top: 40px;
    padding: 0;
    margin-bottom: 0;
}

hr {
    width: 50px;
    height: 3px;
    background-color: rgb(0, 162, 255);
    border: none;
    margin-top: 0;
}

#carousel-container {
    width: 600px;
    height: auto;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 1px rgba(189, 190, 189, 0.815);
    text-align: center;
    margin: auto;
    margin-top: 40px;
    padding-bottom: 40px;
}

#image-circle-container {
    position: relative;
}

#person-1 {
    width: 150px;
    height: 150px;
    margin-top: 20px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 10px -5px 1px  rgb(0, 162, 255);
}

#circle {
    position: absolute;
    top: 20px;
    left: 210px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(0, 162, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#circle-text {
    color: white;
    font-size: 30px;
    padding: 0;
    margin: 0;
}

#person-1-name {
    font-weight: 700;
    color:  rgb(25, 25, 75);
    margin-bottom: 0;
}

#person-1-job {
    color: rgb(0, 162, 255);
    margin-top: 0;
    font-weight: 500;
    margin-bottom: 8px;
}

#person-1-description {
    margin-top: 0;
    font-weight: 600;
    color: rgba(117, 129, 151, 0.623);
    margin-bottom: 0;
}

#information-container {
    display: flex;              
    align-items: center;        
    justify-content: center;  
    gap: 10px;       
    margin-top: 0; 
}

#left-arrow, #right-arrow {
    font-size: 40px;   
    margin: 0;   
    color: rgb(0, 162, 255);     
}

#person-1-btn {
    position: absolute;
    background-color: transparent;
    padding: 5px;
    border: 2px solid rgb(0, 162, 255);
    color: rgb(0, 162, 255);
    border-radius: 8px;
    width: 100px;
    margin-top: 70px;
}

#person-1-btn:hover {
    background-color: rgb(0, 162, 255);
    color: white;
    transition: 0.6s;
    cursor: pointer;
}

#left-arrow:hover, #right-arrow:hover {
    cursor: pointer;
    color: rgb(20, 133, 199);
    transition: 0.6s;
}